.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

body {
  margin: 0 auto;
}

header {
  font-size: 1.5rem;
  width: 100%;
  margin: 0;
  padding-top: 0.1rem;
  padding-bottom: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

/* base CSS for mobile */

img {
  width: 340px;
  height: 250px;
}

.two-rows > input {
  width: 21.3rem;
  height: 2rem;
}

h1 {
  margin-top: 1rem;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.4rem;
}

textarea {
  width: 21.3rem;
  height: 10rem;
}

.photo-url {
  margin-top: 1.5rem;
}

.button {
  margin-top: 1.5rem;
  margin-left: 17.4rem;
  margin-bottom: 2rem;
}

.column-full > h3 {
  margin-top: 1.5rem;
}

/* small screen */
@media screen and (min-width: 625px) {
  img {
    width: 530px;
    height: 400px;
  }

  .two-rows > input {
    width: 33rem;
    height: 2rem;
  }

  h1 {
    margin-top: 1rem;
  }

  h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.4rem;
  }

  textarea {
    width: 33rem;
    height: 10rem;
  }

  .photo-url {
    margin-top: 1.5rem;
  }

  .button {
    margin-top: 1.5rem;
    margin-left: 29rem;
    margin-bottom: 2rem;
  }

  .column-full > h3 {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 800px) {
  .column-half {
    display: flex;
  }

  .column-half > img {
    width: 525px;
    height: 425px;
  }

  .two-rows {
    margin-left: 1.2rem;
    margin-top: 0;
  }

  .two-rows > input {
    width: 24rem;
  }

  .column-full > textarea {
    width: 51.7rem;
    height: 10rem;
  }

  .column-full > .button {
    margin-top: 1.5rem;
    margin-left: 47.7rem;
  }
}
