.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

body {
  margin: 0 auto;
}

header {
  font-size: 1.5rem;
  width: 100%;
  margin: 0;
  padding-top: 0.1rem;
  padding-bottom: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

/* base CSS for mobile */
@media screen and (min-width: 390px) {
  img {
    width: 340px;
    height: 250px;
  }

  .two-rows > input {
    width: 21.3rem;
    height: 2rem;
  }

  h1 {
    margin-top: 1rem;
  }

  h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.4rem;
  }

  textarea {
    width: 21.3rem;
    height: 10rem;
  }

  .photo-url {
    margin-top: 1.5rem;
  }

  .button {
    margin-top: 1.5rem;
    margin-left: 16.7rem;
    margin-bottom: 2rem;
  }

  .column-full > h3 {
    margin-top: 1.5rem;
  }

  .sibling-header {
    display: flex;
  }

  .sibling-header > p {
    margin-left: 0.5rem;
  }

  .entries > ul {
    padding-left: 0;
  }

  .entries-header {
    display: flex;
  }

  .entries-header > h1 {
    margin-top: 1rem;
  }

  .entries-header > ul > li > a {
    margin-top: 1.5rem;
    margin-left: 9.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

/* small screen */
@media screen and (min-width: 625px) {
  img {
    width: 530px;
    height: 400px;
  }

  .two-rows > input {
    width: 33rem;
    height: 2rem;
  }

  h1 {
    margin-top: 1rem;
  }

  h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.4rem;
  }

  textarea {
    width: 33rem;
    height: 10rem;
  }

  .photo-url {
    margin-top: 1.5rem;
  }

  .button {
    margin-top: 1.5rem;
    margin-left: 28.35rem;
    margin-bottom: 2rem;
  }

  .column-full > h3 {
    margin-top: 1.5rem;
  }

  .sibling-header {
    display: flex;
  }

  .sibling-header > p {
    margin-left: 2rem;
    margin-top: 1.7rem;
  }

  .entries-header {
    display: flex;
    margin-top: 1.5rem;
  }

  .entries-header > h1 {
    margin-top: 0.5rem;
  }

  .entries-header > ul > li > a {
    margin-top: 0.5rem;
    margin-left: 17.2rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
  }
}

@media screen and (min-width: 800px) {
  .column-half {
    display: flex;
  }

  .column-half > img {
    max-width: 425px;
    max-height: 425px;
  }

  .two-rows {
    margin-left: 1.2rem;
  }

  .two-rows > input {
    width: 24rem;
  }

  .title {
    margin-top: 0;
  }

  .column-full > textarea {
    width: 51.7rem;
    height: 10rem;
  }

  .column-full > .button {
    margin-top: 1.5rem;
    margin-left: 47rem;
  }

  .entries-header {
    display: flex;
  }

  .entries-header > ul > li > a {
    margin-top: 0;
    margin-left: 37.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .entries > ul > li {
    display: flex;
  }

  .entries > ul > li > img {
    max-width: 425px;
    max-height: 425px;
  }

  .two-rows > h2 {
    margin-top: 0;
  }
}
