.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

body {
  margin: 0 auto;
}

header {
  font-size: 1.5rem;
  width: 100%;
  margin: 1.5rem 0;
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

.column-half {
  display: flex;
}

.two-rows {
  margin-left: 1.2rem;
  margin-top: 0;
}

.two-rows > input {
  width: 26rem;
  height: 2rem;
}

h1 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

textarea {
  width: 52.2rem;
  height: 10rem;
}

.photo-url {
  margin-top: 1.5rem;
}

.column-full > input {
  margin-top: 1.5rem;
  margin-left: 48.3rem;
}

.column-full > h3 {
  margin-top: 1.5rem;
}
