body {
  background-color: rgb(240, 240, 240);
}

header {
  background-color: rgb(92, 48, 137);
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Proza Libre", sans-serif;
}

.button {
  background-color: rgb(92, 48, 137);
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  border-style: none;
  font-family: "Open sans", sans-serif;
}

textarea,
input {
  font-family: "Open sans", sans-serif;
  font-size: large;
}

input:focus-visible,
textarea:focus-visible {
  outline: 2px solid rgb(92, 48, 137);
}

ul {
  list-style: none;
}

nav > ul > li > a {
  font-size: 1.4rem;
  font-family: "Open sans", sans-serif;
  color: white;
  text-decoration: none;
}

.sibling-header > h3 {
  font-size: 1.8rem;
}

.sibling-header > p {
  font-family: "Open sans", sans-serif;
  font-size: 1.4rem;
  color: white;
}

.sibling-header > ul {
  list-style: none;
}

.entries-header > ul > li > a {
  font-size: 1rem;
  color: white;
  background-color: rgb(92, 48, 137);
  text-decoration: none;
}

.entries {
  font-family: "Open sans", sans-serif;
  font-size: large;
}

.entries > ul {
  list-style: none;
}

.entries > ul > li {
  margin-bottom: 4rem;
}

.edit-entries.hidden {
  visibility: hidden;
}

#delete {
  color: red;
  text-decoration: underline;
}

@media screen and (min-width: 625px) {
  .entries-header > ul > li > a {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 800px) {
  .entries-header > ul > li > a {
    font-size: 1.6rem;
  }
}

.background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  opacity: 0.3;
  visibility: hidden;
}

.background.unhidden {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  opacity: 0.7;
  visibility: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.pop-up {
  background-color: white;
}

.cancel,
.confirm {
  margin-top: 2rem;
}

/* .cancel {
  margin-right: 6rem;
  color: black;
  background-color: gray;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: large;
}

.confirm {
  margin-left: 6rem;
  color: white;
  background-color: red;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: large;
} */
